/*!
* Author: J. Harrison
*/

* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: "Lexend Exa", sans-serif;
  margin: 0;
  color: #192a51;
}

/* Header/logo Title */
.header {
  padding: 50px;
  text-align: center;
  background: #3a405a;
  color: #f2f2f2;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 48px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #96C5B0;
  color: #f2f2f2;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #f9dec9;
  color: #949396;
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.aboutme {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.work-edu {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Image CSS */
.mepic {
  border: 4px solid #3a405a;  
  border-radius: 50%;
  width: 175px;
  height: 175px;
}

.skills {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.section {
  border-bottom: 2px solid #3a405a;
}

.jobtitle {
  font-size: 14px;
  font-weight: 600;
}

.tasks {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin-left: 12px;
}
/* Footer */
.footer {
  padding: 8px;
  text-align: right;
  background: #96c5b0;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}